<div class="container">
  <div class="row">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h4 class="card-title">ethinaviを登録する</h4>
          <hr class="my-3">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field">
                <span class="form-label">画像</span><br />
                <%= f.file_field :user_image_id %>
              </div>

              <div class="field">
                <span class="form-label">ユーザー名</span><br />
                <%= f.text_field :name, class: "fa", placeholder: "\uf007" %>
              </div>

              <div class="field">
                <span class="form-label">メールアドレス</span><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "fa", placeholder: "\uf0e0" %>
              </div>

              <div class="field">
                <span class="form-label">パスワード</span><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "fa", placeholder: "\uf023" %>
              </div>

              <div class="actions"><br />
                <%= f.submit "Sign up", class: "btn btn-primary" %>
              </div>
          <% end %>
          <hr class="my-3">
          <div class="login-link">
            <%= link_to("ログイン","/users/sign_in") %>
          </div>
        </div>
    </div>
  </div>
</div>



