<div class="container">
  <div class="row">
    <div class="card signup-card" style="width: 25rem;">
        <div class="card-body">
          <h4 class="card-title">ethinaviを登録する</h4>
          <hr class="my-3">
          <%= devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <div class="field">
                <span class="form-label">ユーザー名</span><br />
                <%= f.text_field :name, placeholder: " 例 : エシナビ太郎" %>
              </div>

              <div class="field">
                <span class="form-label">メールアドレス</span><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " 例 : mail@mail.com" %>
              </div>

              <div class="field">
                <span class="form-label">パスワード</span><br />
                <%= f.password_field :password, autocomplete: "new-password", placeholder: " 例 : 6文字以上の半角英数" %>
              </div>

              <div class="field">
                  <span class="form-label">パスワード (確認)</span><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:" 入力したパスワードを再入力" %>
                </div>

              <div class="actions"><br />
                <%= f.submit "登録する", class: "submit" %>
              </div>

          <% end %>
          <hr class="my-3">
            <%= link_to "ログイン", new_user_session_path, class: "login-link" %>

        </div>
    </div>
  </div>
</div>



