<div class="container">
  <div class="row">
	<div class="card shopnew-card" style="width: 25rem;">
	  <div class="card-body">
		<h5 class="card-title">Shop投稿</h5>
		<hr class="my-3">
		  <%= form_with model: @shop do |form| %>

			<div class="field">
			  <span class="form-label">店舗画像:</span><br />
	          <!-- < form.attachment_field :shop_image > -->
	          <%= form.file_field :shop_image %>
	         </div>

	        <div class="field">
			  <span class="form-label">店名</span><br />
	          <%= form.text_field :shop_name %>
	        </div>

	        <div class="field">
			  <span class="form-label">電話番号</span><br />
	          <%= form.text_field :phonenum %>
	        </div>

	        <div class="field">
		      <span class="form-label">郵便番号</span><br />
	          <%= form.text_field :postalcode %>
	        </div>

	        <div class="field">
			  <span class="form-label">住所</span><br />
	          <%= form.text_field :address %>
	        </div>
	        <!-- TODO: 文字数制限を記入する -->
	        <div class="field">
			  <span class="form-label">お店概要</span><br />
	          <%= form.text_area :description %>
	        </div>

	        <div class="field">
			  <span class="form-label">定休日</span><br />
	          <%= form.text_field :regular_holiday %>
	        </div>

	        <div class="field">
			  <span class="form-label">アクセス</span><br />
	          <%= form.text_field :access %>
	        </div>

	        <div class="field">
			  <span class="form-label">営業時間</span><br />
	          <%= form.text_field :business_hours %>
	        </div>

	        <div class="field">
			  <span class="form-label">開店年月日</span><br />
	          <%= form.text_field :opening_date %>
	        </div>

	        <div class="field">
			  <span class="form-label">HP</span><br />
	          <%= form.text_field :homepage %>
	        </div>

	        <%= form.fields_for :genres do |genre| %>

		      <div class="field">
			    <span class="form-label">ジャンル</span><br />
		          <%= genre.select :genre, Genre.genres.keys.map {|k| [I18n.t("enums.genre.genre.#{k}"), k]} %>
		      </div><br />
		    <% end %>

		    <%= form.submit "お店投稿", class: "submit" %>
		<% end %>

      </div>
	</div>
  </div>
</div>